/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
}

.logo {
    max-height: 40px;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    position: relative;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
}

.nav-menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li:hover > ul {
    display: block;
}

.nav-menu li ul li a {
    padding: 10px;
}

.search-bar {
    padding: 10px;
    margin-right: 20px; /* 遠離畫面邊緣 */
}

.container {
    margin-top: 70px;
    display: flex;
    width: 80%;
}

.sidebar {
    flex: 1;
    padding: 20px;
    display: none;
}

.sidebar.active {
    display: block;
}

.main-content {
    flex: 2.5;
    padding: 20px;
    background-color: #fff;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.extra-content {
    flex: 1.5;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-preview {
    margin-bottom: 20px;
}

.article-preview h2 {
    margin: 0;
}

.article-preview p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .sidebar {
        display: block;
    }

    .sidebar.active {
        display: none;
    }
}
